html,
body {
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "ReplRegular", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}

/* FONTS */

@font-face {
  font-family: ReplRegular;
  src: url(../public/assets/fonts/ReplRegular.woff);
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.everydays-list.grid, .everydays-grid .infinite-scroll-component__outerdiv, 
.everydays-list.grid .infinite-scroll-component,
.everydays-list.grid .infinite-scroll-component .MuiMasonry-roo {
  overflow-x: hidden !important;
  overflow-y: visible !important;
}

.everydays-grid .infinite-scroll-component__outerdiv {
  width: 100%;
}
.everydays-list .infinite-scroll-component {
  overflow-y: visible;
}
